* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: #ffffff;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23b40000' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.conteiner {
    width: 90%;
    margin: auto;
}

/*Navegación*/

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

/* Navegación de la izquierda */

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.nav-main ul li a{
    padding: 2px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

/*SHOW CASE*/

hr {
    margin: 10px 0; 
}

.showcase {
    width: 100%;
    height: 550px;
    background: url('../recursosI/Showcase/PrimeraPlana1.jpg') no-repeat center center/cover;
    color: #414040;
    padding: 50px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.showcase h2 {
    color: #f2f2f2;
    text-shadow: -1px 2px black;
}

.showcase p {
    text-shadow: -1px 0px white;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;
}

.btn:hover{
    opacity: .7;
}

.shocase h2,
.shocase p {
    margin-bottom: 10px;
}


/* NEWS CARDS */

.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
}

/* Cards Banner One */

.cards-banner-one {
    width: 100%;
    height: 400px;
    background: url('https://previews.123rf.com/images/gmast3r/gmast3r1712/gmast3r171200283/91469268-conjunto-de-elementos-de-infograf%C3%ADa-futurista-de-la-tecnolog%C3%ADa-banner-de-plantilla-de-fondo-abstracto-de.jpg');
    margin-bottom: 40px;
}

.cards-banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}

.cards-banner-one p,
.cards-banner-one h2 {
    margin: 10px 0 20px 0;
}

.cards-banner-one p,
.cards-banner-one h2 {
    color: #f2f2f2;
    text-shadow: -1px 2px black;
}

/* Cards Banner Two*/

.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url('../recursosI/image-five.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-two .content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: #ffffff;
}

.cards-banner-two p,
.cards-banner-two h2 {
    margin: 10px 0 20px 0;
}

/* Social Links */

.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/*Footer-Links*/

.footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-conteiner ul {
    margin: 0 auto;
}

.footer-conteiner ul li {
    line-height: 2.4;
}

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 1;
    font-size: 1.5rem;
    display: none;
}
.footer-conteiner {
    text-align: center;
    display: flex;
    font-size: 15px;
}

@media (max-width: 700px) {

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        width: 280px;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
        
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px)
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 16px;
    }
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 80%;
    }
}
